/* src/styles/Blog.css */
.blog-container {
    padding: 2rem;
    max-width: 68rem;
    margin: auto;
  }
  
  .blog-title {
    font-size: 40px; /* Adjust font size */
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .blog-post {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    background-color: white;
    margin-bottom: 1.5rem;
  }
  
  .blog-post-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .blog-post-date {
    font-size: 14px;
    color: gray;
    margin-bottom: 1rem;
  }
  
  .blog-post-content {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
  }
  .blog-post img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
  }
  
  
  
  