* {
  font-family: "Montserrat", Montserrat, monospace !important;
}

html, body {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  background-color: #cfcfcf;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  padding-top: 10vmin;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 10;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar-links {
  font-family: "Montserrat", Montserrat, monospace;
  font-size: 24px;
}

.custom-paragraph {
  font-size: 20px;
  max-width: 100%;
  margin: 0 auto;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
  .App-logo {
    height: 20vmin;
  }

  .navbar {
    justify-content: space-between;
    padding-left: 40px;
  }

  .navbar-links {
    font-size: 18px;
  }

  .content-container {
    padding-top: 25vmin;
  }

  footer {
    padding: 15px;
    font-size: 14px;
  }
}

/* Media Query for Tablets and Larger Devices */
@media (min-width: 768px) {
  .navbar-links {
    font-size: 36px;
  }

  .custom-paragraph {
    font-size: 24px;
    max-width: 1200px;
  }

  footer {
    font-size: 16px;
  }
}

/* Media Query for Desktops and Larger Devices */
@media (min-width: 1024px) {
  .navbar-links {
    font-size: 40px;
  }

  .custom-paragraph {
    font-size: 30px;
  }

  footer {
    font-size: 18px;
  }
}
